.nav_flex {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    width: 100%;                    
}
.nav_top {
    background-color: #ffffff;
    padding: 10px 0;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
}
.nav_left{
    display: flex;
    align-items: center;
    gap: 20px;
    width:60%;
    cursor: pointer;
}

.nav_right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_bot{
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 0;
}
.nav_bot_left a, 
.nav_bot_right a {
    text-decoration: none;
    color: #333;  
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
}
.nav_bot_right a {
    font-size: 14px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14px;
    cursor: pointer;
}

.line {
    width: 18px;
    height: 2px;  
    background-color: #333;
    border-radius: 2px;
}
.margin {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.track {
    display: flex;
    overflow-x:auto;
    width: 100%;
    scroll-behavior: smooth
}

.slide{
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    display: block;
}

.arrow{
    position: absolute;
    top: 50%;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px;
    text-decoration: none;
    z-index: 10;
    font-size: 20px;
    border-radius: 4px;
}
.prev-arrow{ left: 10px;}
.next-arrow{ right: 10px;}

.movie_list,
.live_events {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    overflow-x: auto
}

.margin a img {
    width: 100%;
}

.prem-img {
    padding-top: 20px;
    width: 100%;
}

.premiere {
    background-color: rgb(43, 49, 72);
    color: white;
    text-align: left;
}

.p_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    overflow-x: auto
}

.prem-img a img {
    width: auto;
    height: auto;
}

input {
    width: 100%;
    height: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px
}

button {
    background-color: #F84464;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 15px;
    height : 25px;
    font-size: 12px;
    cursor: pointer;
}

select {
    padding: 10px 15px;
    border: gray;
    cursor: pointer;
}

img {
    border-radius: 8px;
}